.astikar thead {
  background-color: #d3d3d3;
  font-size: 10px;
}

address.astikar_header {
  font-size: 10px;
}

p.astikar_p {
  background-color: #d3d3d3;
  width: 100%;
  font-weight: bold;
}

.astikar_bigger {
  font-size: 18px;
}

.lanak{
    border-bottom: 1px solid;
    font-weight: bold;
}

.box{
    border-width: 1px;
    border-style: solid;
    font-size: 10px;
    margin-left: 15px;
    width: 35%;
    page-break-inside: avoid;
}

.vertical {
  -webkit-transform: rotate(-90deg);
  font-size: 10px;
  position: relative;
  left: -430px;
  bottom: -300px;
}
