.blue_table{
  background-color: #2E75B5;
}

.blue1_table {
  background-color: #00B0F0;
}

.blue2_table{
  background-color: #002060;
}

.grey_table {
  background-color: #7F7F7F;
}

.red_table{
  background-color: #FF0000;
}

.green_table{
  background-color: #92D050;
}

.purple {
  background-color: #7030A0;
}

.white_font {
  color: white;
}

th {
  color:white;
}

th{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

td {
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.verde {
  border: 1px solid #92D050;
}

.negro {
  border: 1px solid black;
}
